body{
    background-image: url('./image/paperboat.jpg');
    background-size: cover;
    background-repeat: space;
}
.container{
    
    background-color: rgba(black,0.1);
    backdrop-filter: blur(15px);
    border-radius: 3px;
    border: solid 2px black;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin:   0% auto 5% auto;
    width: 700px;
    box-shadow: 0px 0px 15px 3px black;
}
.input{
    font-size: 22px;
    border-radius: 4px;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: groove 1px black;
}
.input:focus{
    background-color: rgb(166, 224, 243);
}
.input1{
    font-size: 22px;
    border-radius: 4px;
    width: 32%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: groove 1px black;
}
.input1:focus{
    background-color: rgb(166, 224, 243);
}
.labelofinput{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
.button{
    background-color: rgb(40, 112, 245);
    font-size: 30px;
    border: ridge 2px black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 6px 10px 3px black,0px 3px 0px black;
    margin-left: 44%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button:active{
    transform: translateY(3px);
    box-shadow: none;
}
input[type=checkbox]{
    transform: scale(1.8);
    margin-right: 10px;
    margin-left: 10px;
}
.advise{
    font-size: 15px;
    font-style: oblique,italic;
    color: rgb(23, 23, 138);
}
.showpassword{
    margin-left: 50%;
}
.head{
    background: linear-gradient(135deg,rgb(4, 175, 175),rgb(197, 41, 41));
    width: 700px;
    color: black;
    border: solid 3px black ;   
    margin: 2% auto 1% auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    box-shadow: 0px 0px 15px 3px black;
}
.message{
    margin: auto 2% auto 2% ;
}